.album-text {
    text-shadow:
    3px 3px 0 #FFF,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px  1px 0 #FFF,
    1px  1px 0 #FFF;

    position: absolute;
    left: 2vw;
}

#album {
    position: relative;
    overflow: hidden;
    max-width: 75vw;
    max-height: 75vh;
}

#artist {
    font-size: 5vw;
}

#title {
    font-size: 4vw;
    bottom: 1vh;
}

.album-row {
    line-height: 3.0;
}

.spacer {
    min-height: 10px;
    clear: both;
}

span.header-link {
    margin-right: 15px;
}
