head
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  title Reddit Album Generator

template(name='layout')
  .container-fluid
    h4
      span.header-link
        a(href='http://www.reddit.com/r/funny/comments/lplhn/every_band_ever_used_this/' target='_blank')
          span Inspiration
          span.glyphicon.glyphicon-new-window
      span.header-link
        a(href='https://github.com/0xANDREW/reddit-album-generator' target='_blank')
          span Source
          span.glyphicon.glyphicon-new-window

    .btn-group
      a.btn.btn-primary(href='/')
        span.glyphicon.glyphicon-refresh
        span Generate
        
      a.btn.btn-default(href='/albums')
        span.glyphicon.glyphicon-list
        span Archive
      
    .spacer

    #content
      +yield

template(name='albums')
  .row
    .col-md-4
      strong Artist
    .col-md-4
      strong Title
    .col-md-2
      strong Image

  .spacer

  +each albums
    +album_row

template(name='album_row')
  .row.album-row
    input.album-id(type='hidden' value='{{ _id }}')

    .col-md-4 {{ artist }}
    .col-md-4
      a(href='/albums/{{ _id }}') {{ title }}
    .col-md-2
      a(href='{{ image_url }}' target='_blank')
        img(src='{{ image_url }}' height='30')
    .col-md-2
      button.delete.btn.btn-danger
        span.glyphicon.glyphicon-trash
        span Delete

template(name='home')
  +album

template(name='album')
  #album
    #artist.album-text {{ artist }}
    #title.album-text {{ title }}
    img#image.img-responsive(src='{{ image_url }}')

